<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name="io.trustnexus.webauthnplusb.WebAuthnPlus"
        android:icon="@mipmap/ic_tnx_c"
        android:logo="@mipmap/ic_tnx_d"
        android:label="@string/app_name"
        android:theme="@style/DarkActionBarTheme"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name="io.trustnexus.webauthnplusb.ActivatePassword"
            android:label="@string/activity_label_activate"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                      android:host="www.webauthnplus.com"
                      android:pathPattern="/.*" />
                <!-- https://stackoverflow.com/questions/35304745/android-matching-host-pattern-in-an-intent-filter -->
            </intent-filter>
        </activity>
        <activity
            android:name="io.trustnexus.webauthnplusb.AboutTnx"
            android:label="@string/activity_label_about_tnx" >
        </activity>
        <activity
            android:name="io.trustnexus.webauthnplusb.Profile"
            android:label="@string/activity_label_profile" >
        </activity>
        <activity
            android:name="io.trustnexus.webauthnplusb.Credentials"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/activity_label_credentials" >
        </activity>
        <activity
            android:name="io.trustnexus.webauthnplusb.PersonalData"
            android:label="@string/activity_label_personal_data" >
        </activity>
        <activity
            android:name="io.trustnexus.webauthnplusb.Contacts"
            android:label="@string/activity_label_send_funds" >
        </activity>
        <activity
            android:name="io.trustnexus.webauthnplusb.fundstransfer.SendFunds"
            android:label="@string/activity_label_send_funds" >
        </activity>
        <activity
            android:name="io.trustnexus.webauthnplusb.fundstransfer.ReceiveFunds"
            android:label="@string/activity_label_receive_funds" >
        </activity>
        <activity
            android:name="io.trustnexus.webauthnplusb.fundstransfer.ConfirmFunds"
            android:label="@string/activity_label_confirm_funds" >
        </activity>
        <activity
            android:name="io.trustnexus.webauthnplusb.distributedledger.Signature"
            android:label="@string/activity_label_dlt_signature" >
        </activity>
        <activity android:name="io.trustnexus.webauthnplusb.ActivityBase"/>
        <activity android:name="io.trustnexus.webauthnplusb.ListActivityBase"/>

        <service android:name="io.trustnexus.webauthnplusb.firebase.TnxFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>
